
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-align: center;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: blue;
    clear: left;
    text-align: center;
}
form{
  background-color: F0F8FF;
  color: 8A2BE2;
  display: block;
  padding: 12px;
  text-align: center;
}
button{
  background-color: green;
}

div {
   text-align: center;
   textarea : center;
   background-color: F0F8FF;
   color: 8A2BE2;
   display: block;
   padding: 12px;

   }
   textarea{
     color: #393939;
     height: 360px;
     padding: 0px 6px 0 6px;
     width: 800px;
   }
   a{
     text-align: center;
     padding: 12px;
   }
   p{
     background-color: F0F8FF;
     color: 8A2BE2;
     display: block;
     padding: 12px;
     left: 20px;
     text-align: center;
      }

.table-style {
  padding: 10px
}


.done-true {
  text-decoration: line-through;
  color: grey;
}
.font_look_0 {
  font-family:'Times New Roman';
  color:#003399;
  white-space:pre-wrap;
  font-size:38px
}
.font_look_1 {
  font-family:'Times New Roman';
  color:#003399;
  white-space:pre-wrap;
  font-size:42px
}
.font_look_2 {
  font-family:'Times New Roman';
  color:#003399;
  white-space:pre-wrap;
  font-size:46px
}
